[submodule "bundle/vim-colors-solarized"]
	path = pack/git-plugins/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-surround"]
	path = pack/git-plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/nerdtree"]
	path = pack/git-plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = pack/git-plugins/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-fugitive"]
	path = pack/git-plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/tlib_vim"]
	path = pack/git-plugins/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = pack/git-plugins/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-colors-jellybeans"]
	path = pack/git-plugins/start/vim-colors-jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/vim-unimpaired"]
	path = pack/git-plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/gist-vim"]
	path = pack/git-plugins/start/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/webapi-vim"]
	path = pack/git-plugins/start/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "bundle/dockerfile"]
	path = pack/git-plugins/start/dockerfile
	url = https://github.com/chr4/dockerfile.vim.git
[submodule "bundle/vim-airline"]
	path = pack/git-plugins/start/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-projectionist"]
	path = pack/git-plugins/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule "bundle/snipmate"]
	path = pack/git-plugins/start/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-colors-monokai"]
	path = pack/git-plugins/start/vim-color-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "bundle/vim-gitgutter"]
	path = pack/git-plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-tabular"]
	path = pack/git-plugins/start/vim-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/tagbar"]
	path = pack/git-plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-elixir"]
	path = pack/git-plugins/start/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "bundle/ctrlp"]
	path = pack/git-plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/vim-dispatch"]
	path = pack/git-plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-jsx"]
	path = pack/git-plugins/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/vim-javascript"]
	path = pack/git-plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/elm.vim"]
	path = pack/git-plugins/start/elm.vim
	url = https://github.com/lambdatoast/elm.vim.git
[submodule "bundle/vim-tmux-focus-events"]
	path = pack/git-plugins/start/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule "pack/git-plugins/start/ale"]
	path = pack/git-plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/git-plugins/start/rust.vim"]
	path = pack/git-plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/git-plugins/start/vim-camel-case-motion"]
	path = pack/git-plugins/start/vim-camel-case-motion
	url = https://github.com/bkad/CamelCaseMotion
